*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    /* box-sizing: border-box; */
}
/* html, body{
    width:100%;
    height: 100%; */
/* } */
body{
    background-color: aliceblue;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6fb0ff;
    padding: 0.2rem 5%;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
    /* width: 50%; */
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
    cursor: pointer;
}
.logo{
    width: 48px;
    margin: 0.5rem 2rem;
}
.logo{
    width: 250px;
    height: 50px;
    background-image: url(media/logo.png);
    background-size: cover;
    background-position: center;
    margin-right: 45px;

}
.nav-left ul li img{
    width: 1.5rem;
    margin: 0 1.5rem;
}
/* .nav-right{
    justify-content: end;
} */
.nav-user-icon img{
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}
.search-box{
    background: #efefef;
    width: 15rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 1.2rem;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 0.7rem;
    height: 0.7rem;/
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #41DB51;
    position: absolute;
    top: 63%;
    right: 0;
}


/*<<<<<<<<<<<<<<<<<<<<<<< main content start >>>>>>>>>>>>>>>>>>>*/



.main{
    display: flex;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< leftside panel>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

li{
    cursor: pointer;
}


/* top menus of left side bar */

.leftside{
    height: 100vh;
    width: 25%;
    background-color: #c2daf8;
    position: sticky;
}

.leftside .leftmenu{
    width: 100%;
    height: 50%;
    /* background-color: rebeccapurple; */
}

.leftside .leftmenu{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
    padding-top: 8px;

}

.leftmenu ol{
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}
.leftmenu li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.leftmenu{
    font-size: 16px;
    font-weight: 400;
}
.leftmenu img{
    width: 30px;
    border-radius: 50%;
}
.leftside .shortcut{
    width: 100%;
    height: 50%;
    /* background-color: rgb(33, 141, 11); */
}


/* bottom your shortcuts area */

.shortcut{
    display: flex;
    flex-direction: column;
}

.shortcut h4{
    margin: 8px 10px;
}
.shortcut ol{
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
}

.shortcut li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.shortcut img{
    width: 30px;
    border-radius: 50%;
}
.shortcut p{
    padding-left: 20px;
    font-size: 12px;
    margin-top: 8px;
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<      Right side      >>>>>>>>>>>>>>>>>*/

.rightside{
    height: 100vh;
    width: 25%;
    background-color: #c2daf8;
    position: sticky;
}

.page{
    padding: 10px 30px;
}

.page h2{
    font-size: 15px;
    font-weight: 700;
}
.page-name{
    font-size: 13px;
    font-weight: 600;
}
.page img{
    width: 20px;
    border-radius: 50%;
}

 li .page-icon{
    width: 30px;
}
ol p{
    font-size: 11px;
}

.page ol{
    list-style: none;
    padding-top: 5px;
}

ol li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}




/* birthdays section */

.birthdays{
    padding: 10px 30px;
}

.birthdays h2{
    font-size: 15px;
    font-weight: 700;
}

.birthdays .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.content p{
    font-size: 14px;
    font-weight: 400;
}



/* contact */


.contact{
padding: 0px 25px;

}
.contact h2{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}
.contact ol li img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

ol li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<                   news feed          >>>>>>>>>>>>>>>>>>> */
.feed{
    width: 50%;
    background-color: #cae2ee;
    position: sticky;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.story-container{
    width: 100%;
    /* height: 20%; */
    padding: 10px 20px;
    display: flex;
    gap: 8px;
    overflow: hidden;
}

.feed .my-profile{
    height: 200px;
    width: 135px;
    border-radius: 20px;
    background-image: url(media/human1.jpg);
    background-size: cover;
    background-position: top;
}


.my-profile .smallrectangle{
    height: 25px;
    width: 100%;
    background-color: white;
    position: relative;
    top: 78%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 20px;
}

.smallrectangle{
    text-align: center;
}



/* other stories */

.story{
    height: 200px;
    width: 135px;
    border-radius: 20px;
    background-size: cover;
    background-position: top;
}

.story1{
    background-image: url(media/human2.jpg);
}
.story2{
    background-image: url(media/human3.jpg);
}
.story3{
    background-image: url(media/human4.jpg);
}
.story4{
    background-image: url(media/human5.jpg);
}
.story5{
    background-image: url(media/human3.jpg);
}



/* news feed */
.info img{
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
}

.container_post{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}




/* <!-- news feed
<div class="container_post">
    <div class="post1">
        <div class="info">
            <img src="media/human1.jpg" alt="">
            <div class="details">
                <p><strong>Salman Khan</strong> is at <strong>farm house</strong> with <strong> cat and 99 others.</strong></p>
                <p class="small">8m   Farm house </p>
            </div>
        </div>
        <div class="media"></div>
    </div>
</div> */